

<footer class="page-footer teal darken-4">
<div class="container">        
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Mais informações</h5>
                <p class="grey-text text-lighten-4">Texto texto</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Google+</a></li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 Projeto Supernova todos os direitos reservados
            <a class="grey-text text-lighten-4 right" href="#!">Sobre o Supernova</a>
            </div>
          </div>
        </div>
        </footer>